@tailwind base;
@tailwind components;
@tailwind utilities;

.reactEasyCrop_Container {
  width: 450px;
  height: 300px;
  position: relative !important;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

.ReactSelectFlags-module_buttonSelect__CxH4w {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.custom-datepickers input {
  padding: 7.5px 14px !important;
  overflow: hidden !important;
}
.css-10o2lyd-MuiStack-root {
  overflow: hidden !important;
  width: 100% !important;
}

.custom-datepickers {
  width: 100% !important;
}

.MuiStack-root {
  overflow: hidden !important;
}

.plus-jakarta-sans-font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.MuiSlider-rail{
  background-color: #A5B5D4 !important;
}
.MuiSlider-thumb{
  background-color: #FF4195 !important;
}
.MuiSlider-track{
  background-color: #FF318C !important;
}
/* Custom Modal Styles */
.custom-modal {
  background-color: white;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.custom-modal-header {
  background-color: #2E266F;
  padding: 24px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-modal-header .modal-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-modal-header .modal-icon {
  margin-bottom: 8px;
}

.custom-modal-header .modal-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.custom-modal-header .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  font-size: 34px;
  border: none;
  background: none;
  cursor: pointer;
}

.custom-modal-body {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.custom-modal-body button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.custom-modal-body button span {
  color: black;
  font-weight: bold;
}
