@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.plus-jakarta-sans-300 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.comfortaa-300 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.reactEasyCrop_Container {
  width: 450px;
  height: 300px;
  position: relative !important;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}

.ReactSelectFlags-module_buttonSelect__CxH4w {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.custom-datepickers input {
  padding: 7.5px 14px !important;
  overflow: hidden !important;
}
.css-10o2lyd-MuiStack-root {
  overflow: hidden !important;
  width: 100% !important;
}

.custom-datepickers {
  width: 100% !important;
}

.MuiStack-root {
  overflow: hidden !important;
}

.plus-jakarta-sans-font-face {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.MuiSlider-rail {
  background-color: #a5b5d4 !important;
}
.MuiSlider-thumb {
  background-color: #ff4195 !important;
}
.MuiSlider-track {
  background-color: #ff318c !important;
}
/* Custom Modal Styles */
.custom-modal {
  background-color: white;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.custom-modal-header {
  padding: 24px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-modal-header .modal-center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.custom-modal-header .modal-icon {
  margin-bottom: 8px;
}

.custom-modal-header .modal-title {
  font-size: 18px;
  font-weight: 700;
  color: #2E266F;
  line-height: 21px;
  font-family: "Comfortaa"
}

.custom-modal-header .close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  font-size: 34px;
  border: none;
  background: none;
  cursor: pointer;
}

.custom-modal-body {
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.custom-modal-body button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.custom-modal-body button span {
  color: #2E266F;
  font-size: 24px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans";
  line-height: 28px;
}

.custom-btn {
  border: 3px solid #ff318c;
  color: #ff318c;
  font-weight: 500;
}
.share-url-hints{
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: "15px";
  font-family: "Plus Jakarta Sans";
}
.custom-btn:hover {
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: 500;
}

.message-sent {
  font-weight: 700;
  font-size: 36px;
}

.want-more {
  font-weight: 700;
  font-size: 24px;
  color: #2e266f;
}

.more-page {
  font-weight: 500;
  font-size: 24px;
}

.custom-body .button-container {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Adjust gap as needed */
}

.custom-body .left-buttons,
.custom-body .right-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adjust gap as needed */
}

.custom-body button {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Adjust gap as needed */
  text-align: left;
}

.custom-body button span {
  color: #2e266f;
  font-weight: 500;
  font-size: 24px;
}

.message-sent {
  font-size: 2rem;
}

.want-more,
.more-page {
  font-size: 1.5rem;
}

.custom-link-text {
  font-weight: 500 !important;
  color: #a5b5d4 !important;
  font-size: 14px !important;
}

.plus-jakarta-sans-300 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.plus-jakarta-sans-700 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.comfortaa-300 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 720px) {
  .d-rs-full {
    width: 100% !important;
  }

  .d-rs-nav-height {
    height: 80px;
  }

  .d-rs-block {
    display: block !important;
  }

  .d-rs-hidden {
    display: none !important;
  }

  .d-rs-none {
    display: none !important;
  }

  .d-rs-flex {
    display: flex !important;
  }

  .d-rs-justify-center {
    justify-content: center !important;
  }
  .d-rs-flex-row {
    display: flex !important;
    flex-direction: row !important;
  }

  .d-rs-flex-between {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
  }

  .d-rs-col {
    display: flex !important;
    flex-direction: column !important;
  }

  .rs-gap-10 {
    gap: 20px !important;
  }

  .font-w-300 {
    font-weight: 300 !important;
  }

  .custom-modal-body {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 16px;
  }
  .custom-modal{
    height: 100%;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
}

.web-page-heading{
 font-family: "Comfortaa";
 color: #2E266F;
 font-size: 48px;
 line-height: 50px;
 font-weight: 700;
 margin-bottom: 10px; /* This adds the paragraph spacing */
}

.web-page-date{
  color: #A5B5D4;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.web-page-paragraph{
  color: #586580;
  margin-top: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.custom-fsl-padding {
  padding: 6px 16px 6px 0px;
}

.header, .footer {
  z-index: 99; /* Ensure this is less than the modal's z-index */
}

/* Additional styles for preventing body scroll */
body.modal-open {
  overflow: hidden;
}

.custom-modal {
  position: relative;
  z-index: 10001; /* Ensuring it's above the overlay */
  max-height: 100vh; /* Adjust as needed */
  overflow-y: auto;
}

/* Additional styles for preventing body scroll */
body.modal-open {
  overflow: hidden;
}

.custom-modal-container{
  -webkit-overflow-scrolling: touch;
  overflow:auto;
}

.title-holder{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 16px;

 
}

.date-section{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #586580;
}

.comment-section {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #000000;

}

.otp-header-text{
   color: var(--BLACK, #000);
    text-align: center;
    /* Desktop/ML heading Black */
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 150% */
}

.code-sent-to{
  color: var(--DARK-GREY, #586580);
  text-align: center;

  /* Standard Text Regular */
  font-family: "Plus Jakarta Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  margin-bottom:20px;
}

.resend-code{
  color: var(--MAGENTA, #FF318C);
  text-align: center;
  /* Desktop/Extra-Small Bold */
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom:20px;
  margin-top:20px;
}

.login-header{
   color: var(--BLACK, #000);
    text-align: center;
    /* Desktop/ML heading Black */
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 150% */
}
.login-text{
    font-family: Plus Jakarta Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}

.form-group {
  position: relative;
}

.error-message {
  position: absolute;
  top: 100%; /* Adjust based on your layout */
  left: 0;
  color: red;
  font-size: 12px; /* Adjust size as needed */
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popup-content h2 {
color:#2E266F;
font-family: Comfortaa;
font-size: 36px;
font-weight: 700;
line-height: 42px;
text-align: center;
margin-bottom: 15px;
}

.popup-content p {
  color: #2E266F;
  margin-bottom: 20px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;

}

.close-popup-button {
  background-color: #FF318C;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.schedule-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.schedule-popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 500px;
  min-height: 250px;
  text-align: center;
}

.schedule-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.schedule-heading {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.schedule-date-time-container {
  margin-bottom: 20px;
}

.schedule-error-message {
  color: red;
  margin-bottom: 20px;
}

.schedule-close-popup-button {
  background-color: #FF318C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.schedule-close-popup-button:hover {
  background-color: #FF318C;
}


/* custom css added */

.main-container-container nav{
  padding: 10px;
  background: #fff;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container>nav.active {
  display: flex;
}

.main-container{ flex: 1; display: flex; background: #fff; }

.main-container>nav{  padding: 10px; background: #fff; z-index: 100; flex-direction: column; justify-content: center; align-items: center; }

.main-container>nav.active{ display: flex; }
.main-container>nav>ul{ padding: 0; min-width: 91px; }
.main-container>nav>ul li{ text-align: center; font-size: 12px; width: 80px; height: 80px; line-height: 16px; font-weight: 500; border: 1px solid #586580; border-radius: 8px; margin: 10px 0; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; cursor: pointer; transition: all .3s ease-in; }
.main-container>nav>ul li.active,
.main-container>nav>ul li:hover{ border-color: #FF318C; color: #fff; background: #FF318C; }
.main-container>nav>ul li.active>img,
.main-container>nav>ul li:hover>img{ filter: brightness(3); }
.main-container>nav>ul>div{ display: none; }
.main-container>nav>ul>div.active{ display: block; }
.main-container>nav>ul li>img{ transition: all .3s ease-in; max-width: 44px; max-height: 44px; }
.main-container>aside{ position: fixed; left: 112px; top: 0; width: 100%; height: calc(100% - 20px); margin: 10px 0; border-radius: 8px; border: 1px solid #586580; z-index: 100;  background: #fff; display: none; flex-direction: column; padding: 30px 10px; overflow-y: auto; }
.main-container>aside.active{ display: flex; }
#inside-aside{ max-width: 160px; }
#cover-aside,
#envelope-aside{ max-width: 270px; left: 10px; padding-top: 60px; }


.main-container>aside>button{ position: absolute; left: -9999px; top: -9999px; transform: translate(-50%); font-size: 1px; opacity: 0; height: 1px; width: 1px;  color: #FF318C; line-height: 0.1px; background: transparent; box-shadow: none; outline: none; padding: 0; border: none; cursor: pointer; }
/* .main-container>aside>div{ display: none; flex-direction: column;  } */
.main-container>aside#cover-aside>div,
.main-container>aside#envelope-aside>div.active,
.main-container>aside>div.active{ display: flex; }

.main-container>aside>div>h3{ font-size: 21px; font-weight: 600; text-align: center; color: #2E266F; margin: 0px 0px 30px; }
.main-container>aside>div>div{ margin-bottom: 30px; }
.main-container>aside>div label{ font-weight: 600; font-size: 12px; margin-bottom: 10px; color: #586580; width: 100%; display: block; }

#templates-list{ display: grid; grid-template-columns: 1fr; }
#templates-list li{ margin: 0px 0px 2px; cursor: pointer; }
#templates-list img{ max-width: 100%; }


.add-button{ background: #FF318C; width: 100%; color: #fff; padding: 8px 16px; font-size: 16px; font-weight: 600; font-family: 'Plus Jakarta Sans', sans-serif;  text-align: center; text-transform: uppercase; border: none; box-shadow: none; cursor: pointer; border-radius: 100px; transition: all .3s ease-in; }
.add-button:hover{color: #2E266F; background: #F1F1F1;}


#current-font{ border: 1px solid #d4d4d4; border-radius: 5px; background: #f4f4f4; display: inline-flex; justify-content: space-between; align-items: center; padding: 5px;  vertical-align: middle; cursor: pointer; }
#current-font>img{ display: inline-block; width: calc(100% - 25px); max-height: 33px; vertical-align: middle; }
#current-font>div{ background: url(../public/assets/img/caret-down.svg) no-repeat center / contain; display: inline-block; vertical-align: middle; width: 40px; height: 40px; }
#current-font.active>div{ background: url(../public/assets/img/caret-up.svg) no-repeat center / contain; }
#fonts-list{ display: none; grid-template-columns: 1fr; margin-top: -30px; margin-bottom: 30px; }
#current-font.active+#fonts-list{ display: grid; }
#fonts-list li{ padding: 10px; border: 1px solid #d4d4d4; background: #fff; border-radius: 5px; display: inline-block; margin: 3px; cursor: pointer; transition: all .3s ease-in;}
#fonts-list li:hover{ background: #d4d4d4;  }
#text-align{ display: block; }
#text-align li{ display: inline-block; padding: 5px; border: 1px solid #d4d4d4; border-radius: 5px; background: #f4f4f4; cursor: pointer; transition: all .3s ease-in; }
#text-align li.active,
#text-align li:hover{ background: #fff; border-color: #000; }
#text-align li img{ width: 30px; }



.color-list{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; }
.color-list li{ padding: 2px; margin: 2px; cursor: pointer; }
.color-list li div{ width: 25px; height: 25px; border-radius: 50%; border: 2px solid #d4d4d4; transition: all .3s ease-in; }
.color-list li:hover div,
.color-list li.active div{ border-color: #000; }
#envelope-colors-list li div,
#envelope-liner-list li div{ width: 50px; height: 50px; background-repeat: no-repeat; background-position: center; background-size: contain; }

#add-photo-file{ height: 1px; width: 1px; opacity: 0; appearance: none; }
#stickers-list{ display: grid; grid-template-columns: 1fr }
#stickers-list li{ margin: 2px 0; cursor: pointer; }
#stickers-list li img{ max-width: 100%; }


#covers-list{ display: grid; grid-template-columns: 1fr 1fr; }
#covers-list li{ margin: 2px 0; cursor: pointer; }
#covers-list li:nth-child(odd){ margin-right: 3px; }
#covers-list li:nth-child(even){ margin-left: 3px; }
#covers-list img{ max-width: 100%; }




.main-container>section{ position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; }


#titles{ position: absolute; top: 30px; left: 50%; transform: translateX(-50%); z-index: 10; }
#titles h2{ font-size: 48px; font-weight: 700; color: #2E266F; font-family: 'Comfortaa', sans-serif; line-height: 60px; margin: 0; text-align: center; }
#titles h3{ font-size: 14px; line-height: 15px; color: #2E266F; margin: 0 auto; text-align: center; }


#envelope-nav,
#side-nav{ position: absolute; bottom: 70px; left: 50%; transform: translate(-50%); display: flex; background: #F1F1F1; padding: 3px; border-radius: 100px; z-index: 10; }
#envelope-nav li,
#side-nav li{ padding: 8px 16px; border-radius: 100px; min-width: 96px; text-align: center; color: #2E266F; font-weight: 600; cursor: pointer; transition: all .3s ease-in; font-size: 14px; line-height: 15px; }
#envelope-nav li:hover,
#side-nav li:hover,
#envelope-nav li.active,
#side-nav li.active{ background: #FF318C; color: #fff; }
#side-nav li:nth-child(2){ margin: 0 4px; }
#envelope-nav{ position: relative; left: unset; bottom: unset; transform: none; margin-bottom: 30px; }
#envelope-nav li{ flex: 1; }
#envelope-nav li:first-of-type{ margin-right: 4px; }

#history-nav{ position: absolute; bottom: 15px; left: 50%; transform: translate(-50%); display: flex; z-index: 10 }
#history-nav li{ width: 48px; height: 48px; border-radius: 50%; background: #F1F1F1; cursor: pointer; margin: 0 4px; display: flex; justify-content: center; align-items: center; transition: all .3s ease-in; }
#history-nav li:hover{ background: #FF318C; }
#history-nav li:hover img{ filter: invert(1); }
#history-nav li.disabled{ opacity: 0.3; }
#history-nav li.disabled:hover{ background: #F1F1F1; }
#history-nav li.disabled:hover img{ filter: none; }