@tailwind base;
@tailwind components;
@tailwind utilities;

.reactEasyCrop_Container {
  width: 450px;
  height: 300px;
  position: relative !important;
  border-radius: 8px;
}

html {
  scroll-behavior: smooth;
}
/* .phone-input-custom .form-control {
  width: 100% !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
} */
